

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  overflow: hidden;
  background-image: url("555.png");
}

.app {
  border: 2px solid #050505;
  background-image: url("18535.jpg");
  width: 900px;
  height: 850px;
  margin: 0 auto;
  box-shadow: 3px 3px 3px 3px rgba(75, 74, 74, 0.14), 0 0px 0px 0 rgba(0,0,0,.12), 
  0 0px 0px 0px rgba(0,0,0,.3);
  border-radius: 0px;
}

.app__header {
  padding: 30px;
  text-align: center;
}


.form {
  margin-bottom: 20px;
  margin: 20px;
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0);
  min-height: 100px;
  min-width: 50px;
  border: 1px solid #3d3e3e;
  border-radius: 15px;
  padding: 5px;
 
} 
.form label {
  font-size: 18px;
  padding: 6px;
  font-family: Verdana;
}

.form button {
  font-size: 18px;
  font-family: Verdana;
}


h2 {
  color: rgb(6, 6, 6);
}

li {
  color: rgb(10, 10, 10);
  font-size: 23px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-family: Verdana;
}

input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

input[type="number"] {
	background-color: #eee;
	vertical-align: top;
	outline: none;
	height: 40px;
	line-height: 40px;    
	text-indent: 10px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #0a0a0a;
	font-size: 20px;
	border-radius: 2px;
  border-radius: 0.5rem;
} 
 
#submit-btn {

  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  background: #eee;
  color: #0e0d0d;
  border: 1px solid #222020;
  border-radius: 0.5rem;
  margin: 10px;
}

#result-data {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0);
  clear: both;
  min-height: 100px;
  min-width: 50px;
  
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
}